#listTitle {
    border: solid;
    justify-content: center;
}

.table-footer {
    background-color: gray;
}

.button-column {
    width: 10%;
}

#edit-quantity-input {
    width: 5em;
}

#list-title {
    text-align: center;
}

#edit-list-modal {
    position: absolute;
    z-index: 1;
    top: 1vh;

}