.kitchen-li {
    display: inline-flex;
}

#kitchen-btn {
    float: right;
}

.invites-title {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

#kitchen-list-header {
    height: 1rem;
}

#kitchenList {
    display: flex;
    justify-content: space-between;
}