#header-nav {
  display: inline-flex;
}

#header-item {
  display: inline-flex;
}

.nav {
  overflow: hidden;
}

#header-btn {
  cursor: pointer;
  display: block;
  position: relative;
  margin-left: auto;
}